<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Management</title>
</head>
<body>
    <h1>Message Management</h1>
    <p>You have {{ new_msg_count }} new message(s).</p>
    <ul>
        <li><a href="/send-message">Send Message</a></li>
        <li><a href="/view-messages">View Messages</a></li>
        <li><a href="/post_login_options">Return to Previous Menu</a></li>
    </ul>
</body>
</html>